# Required by @org_tensorflow
build --experimental_repo_remote_exec
build --action_env=BAZEL_CXXOPTS="-std=c++17"

# Force python3.10
build --action_env PYTHON_BIN_PATH="/usr/bin/python3.10"
build --action_env PYTHON_LIB_PATH="/usr/local/lib/python3.10/dist-packages"
build --python_path="/usr/bin/python3.10"
build --repo_env=PYTHON_BIN_PATH="/usr/bin/python3.10"