--find-links https://storage.googleapis.com/jax-releases/libtpu_releases.html

importlib-metadata
absl-py
grpcio
grpcio-reflection
portpicker
numpy
jax[tpu]>=0.4.3
orbax>=0.1.5
paxml==0.3.0
praxis==0.3.0
